.FoodList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px 0 100px 0;
}
.Card{
  display: flex;
  border: 1px solid black;
  width: 40%;
  height: 250px;
  margin-bottom: 35px;
}
#cardImg{
  width: 300px;
}