nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  top: 0;
  position:fixed;
  width: 98%;
  background-color: rgba(255, 255, 255, 0.877);
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.149);
}
.sidebarIcon{
  width: 40px;
  cursor: pointer;
}
.logo{
  width: 80px;
  cursor: pointer;
}