#sidebar{
  width: 250px;
  height: 100%;
  background-color: #ffe476;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 85px;
  position:fixed;
}
#home, #food, #add-food, #calorie-calculator, #about{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid rgba(197, 144, 0, 0.687);
  padding: 20px 0;
  cursor: pointer;
  width: 100%;
}

#home:hover, #food:hover, #add-food:hover, #calorie-calculator:hover, #about:hover{
  background-color: #fdd226;
}