#sidebar{
  width: 250px;
  height: 100%;
  background-color: #ffe476;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 85px;
  position:fixed;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#home, #add-food, #calorie-calculator {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid rgba(197, 144, 0, 0.687);
  padding: 20px 0;
  cursor: pointer;
  width: 100%;
  text-shadow: 0 0 2px #000000;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#home:hover, #add-food:hover, #calorie-calculator:hover {
  background-color: #fdd226;
}